.brands {
    padding: 15px 15px 0 15px;


    .brand {

        border-bottom: 1px solid gainsboro;
        padding: 15px;
        margin-bottom: 10px;

        article {
            font-size: 18px;
            margin-bottom: 10px;
            cursor: pointer;
        }

        &-colors {
            display: flex;


            span {
                background: var(--bgColor);
                height: 40px;
                width: 70px;
                margin: 3px;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                text-align: center;
                font-weight: 500;
                color: var(--textColor);
                text-indent: -9999px;
                cursor: pointer;

                &:hover {
                text-indent: -9999px;  
                display: inline-flex;
                }
            }
        }
        


        &.selected {
            border: 2.5px solid #ffafbd;

            .brand-colors {
                    span {
                        flex: 2;
                        text-indent: 1px;
                        display: inline-flex;
                    }
                }
            }
       
        
    
}}