.download {
    display: flex;
    padding: 15px;

    .actions {
        display: flex;

        a {
            background: transparent;
            padding-right: 7px;

            svg {
                display: block;
                cursor: pointer;

                path {
                    stroke: #adaf;
                }
            }
        }

        button {
            background: transparent;
            padding-right: 7px;

            svg {
                display: block;
                cursor: pointer;

                path {
                    stroke: #adaf;
                }
            }
        }

        select {
            margin-right: 5px;
            height: 30px;
            width: 50px;
            appearance: none;
            background: #eee;
            text-align: center;
            cursor: pointer;
        }
    }

    .selected {
        font-size: 20px;
        font-weight: 500;
        display: flex;
        justify-content: center;
    }
}